/* ------------------------------------------------------------ topBar-style ------------------------------------------------------ */
.main{
    padding: 10vh;
}
.loginPanel {
    padding: 5%;
    border: solid #6c757d;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 50vw;
    height: 55vh;
}



