/* ------------------------------------------------------------ topBar-style ------------------------------------------------------ */
.main{
    padding: 10vh;
}
.loginPanel {
    padding: 5%;
    position: relative;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 30vw;
    background-color: #EFF8F8;
}

.createCustomerAccountPanel{
    padding: 5%;

    border-radius: 10px;
    align-content: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 30vw;

    background-color: #EFF8F8;
}
.createVendorAccountPanel{
    padding: 5%;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 30vw;

    background-color: #EFF8F8;
}


.login-toggle-section{
    margin-bottom: 10px;
}
.toggle-button{
    padding: 10px;
    text-align: center;
    justify-content: center;
    position: relative;
    align-content: center;
    color: white;
    font-weight: bold;
    background-color: #4CD964;


}
.toggle-button:hover{
    background-color: #0ACF83;
}
.btn{
    width: 100%;
    background-color: #4CD964;
    border: solid #4CD964;
}
.btn:hover{
    width: 100%;
    background-color: #0ACF83;
    border: solid #0ACF83;
}
.login-page-title{
    margin-bottom: 20px;
}


/* -- quantity box -- */

.quantity {
    display: inline-block; }

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;}

.quantity.buttons_added .minus {
    border-right: 0; }

.quantity.buttons_added .plus {
    border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none; }






